{% extends 'base.html'%}
{%block title%} About{%endblock title%}
{% block aboutactive%} active {% endblock aboutactive%}

{%block body%}


<body style="">
    

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, Viewer!</h1>
      <p>We Have been very thank full to you for this response and visited our blog . This is the list of our developer and content writer</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>AbdulHanan</h2>
          <img src="https://scontent.flhe3-1.fna.fbcdn.net/v/t1.0-9/91718400_545705779688915_3934061954326331392_o.jpg?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=EMYAUHJib40AX9dplAC&_nc_ht=scontent.flhe3-1.fna&oh=ff2e4f481592ce783d54f41c018c8531&oe=5EE7004E" width="200px" height="200px">
        <p>Machine Learning analyst and Django developer Graphic Designer . </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>© Company 2017-2020</p>
</footer>

</body>
{%endblock body%}